@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="container py-5">
    <div class="row text-center mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Lista de Produtos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            
            <ul class="list-group shadow">

                @foreach (var product in Model.Products)
                {
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">
                                    <a href="/product/@product.Id">@product.Name</a>
                                </h5>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ @product.Price</h6>
                                </div>
                            </div>
                            <img src="@product.Image" alt="@product.Name" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> 
                    </li>                     
                }
            </ul>
        </div>
    </div>
</div>
